<div mat-dialog-title>{{ title }}</div>
<div mat-dialog-content>
  <app-backup-config-details 
    [backupConfig]="backupConfig" 
    [onGetData]="onGetData"
    (getData)="getData($event)"
    (isValid)="isValid($event)">
  </app-backup-config-details>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
  <button mat-raised-button (click)="salvar()" color="primary"
    [disabled]="!permiteSalvar">Salvar</button>
</div>
