
  <div *ngIf="tiposConexao$ | async as tiposConexao; else loading">
    <mat-table [dataSource]="tiposConexao" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let tipoConexao"> {{tipoConexao.id}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
        <mat-cell *matCellDef="let tipoConexao"> {{tipoConexao.codigo}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let tipoConexao"> {{tipoConexao.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell mat-cell *matCellDef="let tipoConexao">
          <button mat-icon-button [matMenuTriggerFor]="more" (click)="$event.stopPropagation();">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more="matMenu">
            <button mat-menu-item (click)="goToItem(tipoConexao)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="deleteItem(tipoConexao)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToItem(row)"></mat-row>
    </mat-table>
  </div>

  <ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </ng-template>
