
  <div *ngIf="!loading">
    <mat-table [dataSource]="usuariosDataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.id}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.codigo}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let usuario"> {{usuario.nome}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let usuario"> {{retornaDescricaoTipoUsuario(usuario.tipo)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ativo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let usuario"> {{usuario.ativo ? 'Sim' : 'Não'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell mat-cell *matCellDef="let usuario">
          <button mat-icon-button [matMenuTriggerFor]="more" (click)="$event.stopPropagation();">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more="matMenu">
            <button mat-menu-item (click)="goToItem(usuario)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="deleteItem(usuario)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToItem(row)"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </div>
