<mat-nav-list>
  <a mat-list-item routerLinkActive="active-link" routerLink="home" tabindex="-1" (click)="onSidenavClose()">Home</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="clientes" tabindex="-1" (click)="onSidenavClose()">Clientes</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="usuarios" tabindex="-1" (click)="onSidenavClose()">Usuários</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="sqls" tabindex="-1" (click)="onSidenavClose()">SQLs</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="tipos-conexao" tabindex="-1" (click)="onSidenavClose()">Tipos de Conexão</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="tipos-servidor" tabindex="-1" (click)="onSidenavClose()">Tipos de Servidor</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="relatorio-backups" tabindex="-1" (click)="onSidenavClose()">Relatório Backups</a>
</mat-nav-list>